@font-face {
  font-family: 'Inter', sans-serif;
}
body {
  background: rgb(1,2,166);
  background: linear-gradient(45deg, rgba(1,2,166,1) 0%, rgba(26,85,210,1) 14%, rgba(50,167,254,1) 29%, rgba(128,178,254,1) 38%, rgba(236,194,255,1) 53%, rgba(188,226,250,1) 67%, rgba(230,255,255,1) 84%, rgba(155,225,255,1) 91%, rgba(26,85,210,1) 100%);
  overflow: hidden;
  text-align:center;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.morva {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%; height: 55%;
}

@media (max-width: 1024px)
{
  .morva {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%; height: 65%;
  }
}

@media (max-width: 991px)
{
  .morva {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; height: 100%;
  }
}

@media (max-width: 767px)
{
  .morva {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; height: 100%;
  }
}

.home {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 28%;
  left: 0%;
}
.home canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
  pointer-events: none;
}

.home span {
  position: relative;
  z-index: 6;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  font-size: 14px;
  color: #fff;
  pointer-events: none;
}

.home a {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  font-size: 16px;
  color: #fff;
  background-color: #786CFF;
  border-radius: 10rem;
  padding: 1.5rem 4rem 2rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.home a span {
  position: relative;
  opacity: 0;
}
.home a:after {
  content: "";
  background: linear-gradient(56deg, #61dafb 0%, #d6cbf6 46%, #f2056f 100%);
  width: 80%;
  height: 20%;
  position: absolute;
  bottom: -4px;
  left: 10%;
  opacity: 0;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  border-radius: 10rem;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}
.home a:before {
  content: "";
  background: linear-gradient(56deg, #61dafb 0%, #d6cbf6 46%, #f2056f 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 10rem;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.home a:hover {
  -webkit-transition: all 0.6s ease;
  transition: all 0.4s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.home a:hover:after {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.home a:hover:before {
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.cd-intro {
  width: 100%;
  text-align: center;
  margin: 2em auto;
}

.cd-headline {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #1B147C;
  line-height: 90%;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #786CFF;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* --------------------------------
xclip
-------------------------------- */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  width: 2px;
  height: 80%;
  background: #FFFFFF;
  background-blend-mode: overlay;
  opacity: 0.5;
text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
  from {opacity: 0.5;}
  to {opacity: 0.0;}
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}

.copy-notification {
      font-family: 'Inter', sans-serif;
      font-size: 18px;
      padding: 40px 40px;
      font-weight: 500;
      color: #BEBAFF;
      background: #1B147C;
      box-shadow: 0px -4px 20px rgba(40, 35, 106, 0.16);
      border-radius: 24px 24px 0px 0px ;
      bottom: 0%;
      display: none;
      text-align:center;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0%);
      -webkit-transition: max-height 0.5s ease-in-out;
            -moz-transition: max-height 0.5s ease-in-out;
            -o-transition: max-height 0.5s ease-in-out;
            transition: max-height 0.5s ease-in-out;
}

@media (max-width: 767px)
{
  .copy-notification {
    width: 80%;
  }
}
.button {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      letter-spacing: 0.02em;
      background: none;
      border: none;
      border-radius: 24px;
      color: white;
      padding: 15px 24px;
      text-align: center;
      display: inline-block;
      font-size: 18px;
      position: absolute;
      margin: 0 auto;
      top:90%;
      left:50%;
      transform:translate(-50%, -50%);
        -webkit-transition: all 0.6s ease;
  transition: all 0.4s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transform-origin: center;

}
.button:hover {
    color: #786CFF;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.6s ease;
  transition: all 0.4s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.cursor {
  display: none;
}

html.no-cursor, html.no-cursor * {
  cursor: none;
}
html.no-cursor .cursor {
  display: block;
  --size: 2rem;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.05)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2));
  -webkit-transform-origin: calc(var(--x) + var(--size) / 2) calc(var(--y) + var(--size) / 2);
          transform-origin: calc(var(--x) + var(--size) / 2) calc(var(--y) + var(--size) / 2);
  -webkit-transform: translateX(var(--x)) translateY(var(--y));
          transform: translateX(var(--x)) translateY(var(--y));
  box-shadow: 0 0.1rem 0.5rem rgba(51, 51, 51, 0.2);
  -webkit-transition: all var(--duration, 0.2s) var(--easing);
  transition: all var(--duration, 0.2s) var(--easing);
  pointer-events: none;
  z-index: 9999;
  -webkit-backdrop-filter: blur(8px) saturate(200%);
          backdrop-filter: blur(8px) saturate(200%);
}
html.no-cursor .cursor--active {
  -webkit-transform: scale(0.8) translateX(var(--x)) translateY(var(--y));
          transform: scale(0.8) translateX(var(--x)) translateY(var(--y));
}

:root {
  --duration: .2s;
}

[type="radio"] {
  display: none;
}
[type="radio"]:checked + label {
  background: white;
  color: #222;
  font-weight: bold;
}
[type="radio"]:nth-of-type(1):checked ~ .cursor {
  --easing: cubic-bezier(0.075, 0.82, 0.165, 1);
}
[type="radio"]:nth-of-type(2):checked ~ .cursor {
  --easing: cubic-bezier(0.23, 1, 0.32, 1);
}
[type="radio"]:nth-of-type(3):checked ~ .cursor {
  --easing: ease-out;
}
