@font-face {
  font-family: 'Inter', sans-serif;
}
body {
  background: rgb(1,2,166);
  background: linear-gradient(45deg, rgba(1,2,166,1) 0%, rgba(26,85,210,1) 14%, rgba(50,167,254,1) 29%, rgba(128,178,254,1) 38%, rgba(236,194,255,1) 53%, rgba(188,226,250,1) 67%, rgba(230,255,255,1) 84%, rgba(155,225,255,1) 91%, rgba(26,85,210,1) 100%);
  overflow: hidden;
  text-align:center;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;padding: 0;
}

.morva {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%; height: 55%;
}

@media (max-width: 1024px)
{
  .morva {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%; height: 65%;
  }
}

@media (max-width: 991px)
{
  .morva {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; height: 100%;
  }
}

@media (max-width: 767px)
{
  .morva {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%; height: 120%;
  }
}

.home {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 30%;
  left: 0%;
}
.home canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
  pointer-events: none;
}

.home span {
  position: relative;
  z-index: 6;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  font-size: 14px;
  color: #fff;
  pointer-events: none;
}

.home a {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  font-size: 16px;
  color: #fff;
  background-color: #786CFF;
  border-radius: 10rem;
  padding: 1.5rem 4rem 2rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.home a span {
  position: relative;
  opacity: 0;
}
.home a:after {
  content: "";
  background: linear-gradient(56deg, #61dafb 0%, #d6cbf6 46%, #f2056f 100%);
  width: 80%;
  height: 20%;
  position: absolute;
  bottom: -4px;
  left: 10%;
  opacity: 0;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  border-radius: 10rem;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}
.home a:before {
  content: "";
  background: linear-gradient(56deg, #61dafb 0%, #d6cbf6 46%, #f2056f 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 10rem;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.home a:hover {
  -webkit-transition: all 0.6s ease;
  transition: all 0.4s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.home a:hover:after {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.home a:hover:before {
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.cd-intro {
  width: 68%;
  text-align: center;
  margin: 7em auto;
}
@media (max-width: 767px){
  .cd-intro {
    display: none;
  }
}
@media (max-width: 1024px)
{
.cd-headline {
  width: 68%;
  text-align: center;
  margin: 4em auto;
}
}
@media (max-width: 991px)
{
.cd-headline {
  width: 100%;
  text-align: center;
  margin-top: 2px;
}
}
@media (max-width: 767px)
{
.cd-headline {
  width: 100%;
  text-align: center;
  margin-top: 2px;
}
}

.cd-headline {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  color: #1B147C;
  line-height: 1.2;
}

@media (max-width: 1024px)
{
  .cd-headline {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #1B147C;
  line-height: 1.2;
}
}
@media (max-width: 991px)
{
  .cd-headline {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #1B147C;
  line-height: 1.2;
}
}
@media (max-width: 767px)
{
  .cd-headline {
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  color: #1B147C;
  line-height: 90%;
}
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  color: #786CFF;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* --------------------------------
xclip
-------------------------------- */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #FFFFFF;
  background-blend-mode: overlay;
  opacity: 0.5;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}